html{
    background-color: rgb(255, 255, 255);
    
}
/* style.css */

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    
    /* background-color: #f4f4f9; */
}

h1, h2 {
    color: #464545;
    text-align: center;
}

p, li {
    color: #51525a;
}


hr {
    border: 1px solid #ccc;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

a {
    margin-right: 10px;
    color: #007bf7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
